@media screen and (max-width:1440px) {
    .main img{
        width:90%;
    }
}
@media screen and (max-width:1024px) {
    .nav-item a,.container-fluid h1 a{
        color:white;
        font-size:20px;
    }
    .container-fluid h1 img{
        height:30px;
    }
    .main img{
        width:80%;
    }
    #blok{
        height: 40%;
        top:30%;
    }
    #slika-pozadina{
        height:250px;
    }
    #blok span{
        font-size:18px;
    }
    #treneri .card{
        width: 10rem;
    }
    .centriranje-trener{
        display:flex;
        justify-content: center;
    }
    #trainers h3{
        font-size:28px ;
    }
    #treneri h3{
        font-size:16px;
    }
    #treneri .card{
        width: 12rem;
    }
    #treneri{
      padding-bottom: 50px;
    }
    .cene .card{
        width:17rem;
    }
    .treneri .card-body{
        padding: 10px;
    }
    .treneri h5{
        font-size:18px;
    }
    .treneri p{
        font-size: 14px;
        margin-bottom:5px;
    }
    #opis h2{
        font-size:22px;
    }
    #blok-slika img{
        width: 95%;
    }

}
@media screen and (max-width:768px) {
    .nav-item a,.container-fluid h1 a{
        color:white;
        font-size:18px;
    }
    .container-fluid h1 img{
        height:30px;
    }
    .navbar-toggler{
        background-color:grey !important;
        padding:0px !important;
        height:inherit;
    }
    .main img{
        width:60%;
    }
    .trening{
        text-align: center;
    }
    .main h2{
        font-size:24px;
    }
    .main p{
        font-size:16px;
    }
    .main a{
        width:120px;
        font-size:14px;
        text-align: center;
    }
    .main .row2{
        flex-direction: column-reverse;
    }
    .trainer img:nth-child(odd){
        text-align: center;
    }
    .main img{
        width:80%;
    }
    #blok{
        height: 40%;
        top:30%;
    }
    #slika-pozadina{
        height:200px;
    }
    #blok span{
        font-size:16px;
    }
    .centriranje-trener{
        display:flex;
        justify-content: center;
    }
    #trainers h3{
        font-size:28px ;
    }
    #treneri .card-body{
        padding:8px;
    }
    #treneri h3{
        font-size:18px;
    }
    #treneri .card{
        width: 15rem;
    }
    #dugme1 input{
        width: 200px;
        font-size: 16px;
        font-weight: bold;
        border:2px solid #034efc;
    }
    #dodavanje .centriranje-trener .card{
        width:15rem;
    }
    #klub .klub h5{
        font-size:26px;
    }
    #klub h5{
        font-size:16px;
    }
    .copy p{
        font-size:14px;
    }
    .treneri h5{
        font-size:16px;
    }
    .treneri p{
        font-size: 12px;
        margin-bottom:3px;
    }
    #kontakt input,#kontakt select{
        font-size:14px;
        height:40px;
    }
    #dugme2 input{
        font-size:12px;
    }
    #opis p{
        margin-bottom:5px;
        font-size:14px;
    }
    #blok-slika img{
        width: 100%;
    }
    #opis a{
        font-size:12px;
    }

}
@media screen and (max-width:576px) {
    #blok-slika img{
        width: 70%;
    }
    #opis 
    {
        margin-top:50px;
    }
    #opis p{
        margin-bottom:8px;
        font-size:12px;
    }
    #opis h2{
        font-size:16px;
    }
}
@media screen and (max-width:425px) {
    .nav-item a,.container-fluid h1 a{
        font-size:12px;
    }
    .container-fluid h1 img{
        height:20px;
    }
    .main img{
        width:60%;
    }
    .main h2{
        font-size:18px;
    }
    .main p{
        font-size:12px;
    }
    .main a{
        width:110px;
        font-size:12px;
        text-align: center;
    }
    #blok{
        height: 50%;
        top:25%;
    }
    #slika-pozadina{
        height:200px;
    }
    #blok{
        width:90%;
        left:5%;
    }
    #blok span{
        font-size:10px;
    }
    #dodavanje .card{
        width:15rem;
    }
    #trainers h3{
        font-size:26px ;
    }
    #treneri h3{
        font-size:16px;
    }
    #treneri .card{
        width: 16rem;
    }
    #pozadina h4{
        font-size: 26px;
    }
    #radio .col-4 span{  
        font-size:14px;
    }
    #radio .col-12 span{  
        font-size:14px;
    }
    #radio{
        display:flex;
        justify-content: center;
    }
    #dugme1 input{
        width:100%;
        font-size: 12px;
        font-weight: bold;
        border:2px solid #034efc;
    }
    .col-12 input,.col-12 select,#komentar textarea,#dropdownlista option{
        font-size:12px !important;
    }
    #dodavanje .card{
        margin-top:20px;
        width:19rem;
    }
    #klub h5{
        font-size:14px;
    }
    #klub p{
        font-size:14px;
    }
    #klub .klub h5{
        font-size:20px;
    }
    footer h6{
        font-size: 20px;
    }
    #pozadinska{
        height:200px;
    }
    #pozadinska h2{
        letter-spacing: 18px;
    }
    .centriranje-blok{
        height:200px;
    }
    #pozadinska h2{
        font-size:22px;
    }
    .centriranje-blok h2{
        margin-top:50px;
    }
    #dugme2 input{
        font-size:10px !important;
        margin-bottom:20px;
    }
    #opis a{
        font-size:10px;
    }
    .span-forma,.span-forma2,.span-forma3,.span-forma5{
        font-size:14px;
    }

}
@media screen and (max-width:375px){
    form{
        width:90%;
    }
    footer ul li{
        font-size: 12px;
    }
    .copy p{
        font-size:12px;
    }
    #pozadinska{
        height:150px;
    }
    .centriranje-blok{
        height:150px;
    }
    .centriranje-blok h2{
        margin-top:50px;
    }
}
@media screen and (max-width:320px){
    #blok span{
        font-size:10px;
    }
    #dodavanje .card{
        margin-top:20px;
        width:17rem;
    }
}